/* Custom global styles */
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input, textarea, select {
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #E5E7EB;
  transition: border-color 0.2s;
}

input:focus, textarea:focus, select:focus {
  border-color: #5865F2;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9333EA;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #F3F4F6;
}
