@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets & font */
body {
  font-family: 'Inter', sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
  margin: 0;
  padding: 0;
}
